* {
  margin: 0;
  padding: 0;
}

body {
  z-index: 500;
}

/* ************* */
/* NAV           */
/* ************* */
nav {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--primary-yellow);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  font-family: Arial, Helvetica, sans-serif;
  transition: all 0.1s ease-in;
  box-sizing: border-box;
  z-index: 500;
}

nav:hover {
  background-color: var(--primary-white);
}

.show-hide-nav {
  transform: translateX(0) !important;
}

.nav-btn {
  display: none;
}

.nav-btn > button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: transparent;
  border-radius: 10%;
  color: var(--primary-grey);
}

.navbar-links {
  font-size: 10px;
  cursor: pointer;
}

.navbar-links ul {
  list-style: none;
  display: flex;
}

.nav-link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin: 10px 20px;
  padding: 0;
  text-align: left;
  border-bottom: 1px solid transparent;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand i {
  font-size: 38px;
  margin: auto 2px;
}

.navbar-brand span {
  font-size: 18px;
  font-weight: 900;
}

.navbar-auth {
  display: flex;
  align-items: center;
}

#nav-search {
  border: none;
  background-color: inherit;
  font-size: 22px;
}

#nav-login {
  background-color: inherit;
  border: 1px solid var(--primary-black);
  padding: 12px 25px;
  font-size: 14px;
}

#nav-login > a {
  color: var(--primary-black);
}

#nav-login:hover,
#nav-login:active,
#nav-login:focus {
  background-color: var(--primary-dark-ash);
}

#nav-sign-up {
  padding: 12px 15px;
  font-size: 14px;
}

#nav-sign-up a {
  color: var(--primary-white);
}

#nav-sign-up:hover {
  color: var(--primary-blue);
}

/* ****************** */
/* SIDE DRAWER MENU   */
/* ****************** */
.side-nav-drawer {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: calc(100vw - 3.75rem);
  width: 26.25rem;
  padding-top: auto;
  background-color: var(--primary-white);
  z-index: 700;
  overflow-y: auto;
  overflow-x: hidden;
  transform: translateX(-100%);
  transition: all 0.2s linear;
}

.sn__Header_Buttons {
  display: flex;
  justify-content: space-between;
  height: 66px;
  align-items: center;
  color: var(--primary-grey);
}

.sn__Header_Buttons > span {
  cursor: pointer;
  transition: all 0.1s linear;
}

.sn__Header_Buttons > span:hover {
  color: var(--primary-blue);
}

.sn__Header_Items {
  display: flex;
  flex-direction: column;
}

.sn__Header_Items > a {
  padding: 12px 10px;
  font-weight: 300;
  width: 100%;
  text-align: left;
  background-color: inherit;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  color: var(--primary-black);
}

.sn__Header_Items > a:hover {
  color: var(--primary-blue);
}

.sn__Content_Info {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
  margin: 45px 10px;
}

.sn__Content_Info > p:first-child {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--primary-black);
  font-size: 14px;
}

.sn__Content_Info > p:nth-child(2) {
  font-size: 12px;
  color: var(--primary-grey);
}

.sn__Content_Info > a {
  color: var(--primary-blue);
  font-size: 13px;
}

.sn__Content_Info > a:hover {
  color: var(--primary-dark-blue);
}

.sn__Auth {
  width: 100;
  justify-content: space-between;
  border-top: 1px solid var(--primary-grey);
}

.sn__Auth > div {
  width: 100%;
  text-align: center;
  font-size: 13px;
}

.sn__Auth > div:first-child a {
  color: var(--primary-black);
}

.sn__Auth > div:first-child:hover {
  background-color: var(--primary-ash);
}

/* **************** */
/* HERO SECTION     */
/* **************** */
.hero-section {
  background-color: var(--primary-yellow);
  color: var(--primary-black);
  z-index: 200;
}

.hero-section .container {
  padding: 10% 180px 80px 180px;
}

.hero-info {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

#hero-info-title {
  font-size: 3.125rem;
  letter-spacing: -0.5px;
  font-weight: 300;
}

#hero-info-comment {
  font-size: 22px;
  line-height: 32px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0;
}

.hero-info > div:last-child {
  font-weight: 600;
  font-size: 15px;
  padding: 20px 35px;
  cursor: pointer;
  transition: all 0.15s linear;
  margin-left: 0;
  width: max-content;
}

.hero-logo {
  flex: 1;
}

.hero-logo > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ************* */
/* DO IT SECTION */
/* ************* */
.do-it-all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 25%;
  z-index: 200;
}

.do-it-all > span:first-child {
  font-size: 54px;
  margin: 25px auto;
  text-align: center;
  color: var(--primary-black);
}

.do-it-all > span:last-child {
  text-align: center;
  color: var(--primary-grey);
}

/* *********************** */
/* YOUR BUSINESS SECTION   */
/* *********************** */
.your-business {
  padding: 40px 200px 50px 200px;
  color: var(--primary-white);
}

.your-business .container {
  padding: 48px;
  background-color: var(--primary-grey);
}

.your-business .container > * {
  margin: 20px 15px;
}

.your-business #section1 {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: space-between;
}

.your-business #section1 > * {
  margin: 5px;
}

.your-business #section1 > div:first-child {
  margin-bottom: 1.25rem;
  font-size: 28px;
}

.your-business #section1 > a {
  margin-top: 15%;
  color: var(--primary-yellow);
  text-decoration: none;
}

.your-business #section2 {
  flex: 1;
  align-self: center;
}

/* **************** */
/* WELL HELP YOU    */
/* **************** */
.help-you {
  width: 100%;
  color: var(--primary-black);
  z-index: 200;
}

.help-you .container {
  flex-direction: column;
  padding: 40px 200px 50px 200px;
}

.help-you .heading {
  flex: 1;
  width: 100%;
  font-size: 50px;
}

.help-context {
  display: flex;
  flex-direction: row;
}

.help-context > * {
  margin: 35px auto;
}

.help-context-left {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  margin-left: 0;
  color: var(--primary-grey);
}

.help-context-right {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.help-context-right > * {
  margin: 15px 15px 15px 80px;
}

.help-context-right > div:first-child {
  font-weight: 500;
  font-size: 26px;
}

.help-context-left,
.help-context-right > div:nth-child(2) {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.35;
  font-size: 1em;
  color: var(--primary-grey);
}

.help-context-right > div {
  font-size: 14px;
}

.help-context-right > div > a {
  text-decoration: none;
  font-size: 14px;
  text-align: left;
  color: var(--primary-blue);
  border-bottom: 1px solid transparent;
  padding: auto 0;
}

/* ******************** */
/* GROW WITH MAILCHIMP  */
/* ******************** */
.grow-with {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--primary-ash);
  padding: 80px 10px 80px 10px;
  z-index: 200;
  text-align: center;
}

.grow-with > div:first-child {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.grow-title {
  width: 100%;
  font-size: 3.125rem;
  margin-bottom: 1.125rem;
  text-align: center !important;
  color: var(--primary-black);
}

.grow-description {
  width: 100%;
  color: var(--primary-grey);
  text-align: center !important;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.grow-brands {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  margin-top: 15px;
}

.brand-item {
  width: 30%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--primary-grey);
  text-align: center !important;
  font-family: Arial, Helvetica, sans-serif;
}

.brand-item > div img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.brand-item > p {
  margin-top: 20px;
  width: 100%;
}

/* **************** */
/*  PUSH FORWARD    */
/* **************** */
.forward {
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  z-index: 200;
}

.forward > div {
  width: 100%;
  font-size: 54px;
  color: var(--primary-black);
  margin: 90px auto;
}

/* ***************** */
/* AWARDS SECTION    */
/* ***************** */
.awards {
  margin: auto auto 60px auto;
  z-index: 200;
}

.awards .container {
  padding: 90px 180px 40px 180px;
}

.award-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  /* align-content: flex-end; */
  text-align: center;
  flex: 1;
}

.award-item > * {
  margin: 10px;
  line-height: 25px;
}

.award-title {
  font-size: 24px;
}

.award-item div a {
  text-decoration: none;
  color: var(--primary-blue);
  border-bottom: 1px solid transparent;
}

/* ********************** */
/* COMES TOGETHER SECTION */
/* ********************** */
.comes-together {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: var(--primary-squash);
  color: var(--primary-black);
  z-index: 200;
}

.comes-together .section-title {
  text-align: center;
  font-size: 46px;
  padding: 100px;
}

.comes-together .container {
  flex-direction: column;
}

.section-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  margin: auto 160px 80px 160px;
}

.section-content-left {
  box-sizing: border-box;
  flex: 1;
  color: var(--primary-grey);

  margin-right: 10px;
}

.section-content-right {
  box-sizing: border-box;
  margin-left: 10px;
  flex: 1;
}

.section-content-right-title {
  font-size: 30px;
}

.section-content-right-desc {
  line-height: 22px;
  color: var(--primary-grey);
}

.section-content-right > * {
  padding: 15px;
  margin: 25px auto;
}

.comes-together #section-action {
  flex-direction: column;
  align-items: center;
  padding: 80px 180px auto 180px;
}

#section-action > div:first-child {
  text-align: center;
  font-size: 52px;
}

#section-action > div:nth-child(2) {
  color: var(--primary-grey);
  margin: 30px 280px;
  text-align: center;
}

#section-action > div:last-child {
  margin-top: 100px;
  margin-bottom: 60px;
  color: var(--primary-grey);
}

#section-action > div:nth-child(3) {
  padding: 20px 35px;
  font-size: 15px;
  font-weight: 600;
}
#section-action > div:nth-child(3) a {
  color: var(--primary-white);
}

/* ***************** */
/* ATHLETIC CLUB SECTION */
/* ***************** */
.athletic-club {
  width: 100%;
  color: var(--primary-grey);
  z-index: 200;
}

.athletic-club .container {
  padding: 50px 180px 90px 180px;
  margin-top: 80px;
}

.container-left {
  display: flex;
  flex: 3;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}

.container-left > div {
  margin: 25px auto;
}

.container-left > div:first-child > img {
  width: 100%;
  height: 100%;
}

.mailchimp-testimony > h4 {
  color: var(--primary-black);
  line-height: 25px;
  font-weight: 500;
  text-align: justify;
  margin-bottom: 15px;
}

.mailchimp-testimony > p {
  color: var(--primary-grey);
  font-size: 12px;
}

.mailchimp-results {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.mailchimp-results > div {
  display: flex;
  flex-direction: row;
}

.mailchimp-results > div > span {
  margin: auto 15px;
}

.mailchimp-results > div > span:first-child {
  margin-left: 0;
}
.mailchimp-results > div h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 48px;
  margin: 10px auto;
  color: var(--primary-grey);
}

.mailchimp-results > div p {
  color: var(--primary-grey);
  font-size: 14px;
  font-weight: 400;
}

.mailchimp-results > p {
  color: var(--primary-grey);
  margin-top: 25px;
  font-size: 12px;
}

.container-right {
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-right > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* ********************* */
/* RECENT AWARDS SECTION */
/* ********************* */
.recent-awards {
  background-color: var(--primary-ash);
  width: 100%;
  z-index: 200;
}

.recent-awards .container {
  padding: 100px 180px 90px 180px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recent-awards .container > p {
  font-weight: 400;
  font-size: 52px;
  color: var(--primary-black);
  text-align: center;
}

.recent-awards .container > div {
  margin-top: 20px;
  font-weight: 900;
  font-size: 15px;
  padding: 20px 30px;
}

.recent-awards .container > div a {
  color: var(--primary-blue);
}

/* ************************* */
/* RESOURCES TO GIVE SECTION */
/* ************************* */
.resources-to-give {
  width: 100%;
  z-index: 200;
}

.resources-to-give .container {
  padding: 80px 180px 100px 180px;
  flex-direction: column;
}

/*  */
.container-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 60px;
}

.container-heading > h2 {
  font-size: 48px;
  font-weight: 400;
  color: var(--primary-black);
}

.container-heading > h4 {
  font-size: 14px;
  font-weight: normal;
  color: var(--primary-grey);
}

/*  */
.container-main {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.container-main > * {
  margin: 5px;
}

/*  */
.container-main-left {
  flex: 2;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 90px;
  background-color: var(--primary-pink);
}

.container-main-left > * {
  margin: 25px auto;
}

.container-main-left > div:first-child {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
}

.container-main-left > div:nth-child(2) {
  font-size: 50px;
  font-weight: 300;
  line-height: 55px;
  letter-spacing: -0.5px;
  color: var(--primary-black);
}

.container-main-left > div:nth-child(3) {
  color: var(--primary-grey);
  text-align: left;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  margin: 50px auto;
}

.container-main-left > div:last-child > span {
  padding: 20px 35px;
  font-weight: 600;
}

/*  */
.container-main-right {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid var(--primary-grey);
}

.container-main-right > div {
  flex: 1;
}

.container-main-right > div:first-child img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.container-main-right > div:last-child {
  border-top: 1px solid var(--primary-grey);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.container-main-right > div:last-child div {
  margin-bottom: 30px;
}

.container-main-right > div:last-child div a {
  color: var(--primary-blue);
  width: 240px;
  text-align-last: left;
  line-height: 1.35;
}

.container-main-right > div:last-child > p {
  border-bottom: 10px;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 1;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  margin-bottom: 15px;
}

.container-main-right > div:last-child > h4 {
  color: var(--primary-black);
  font-size: 30px;
  margin: 0;
  text-align: left;
  line-height: 1.1;
  letter-spacing: 0;
  font-weight: 300;
  padding-bottom: 15px;
}
.container-main-right > div:last-child > h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  line-height: 25px;
  letter-spacing: 0;
  font-size: 1em;
  color: var(--primary-grey);
  margin-bottom: 100px;
}

.container-main-right > div:last-child a {
  color: var(--primary-black);
  margin: inherit 15px;
}

/*  */
.container-footer {
  display: flex;
  flex-direction: row;
  color: var(--primary-black);
}

.container-footer > * {
  margin: 5px;
}

.container-footer-left {
  flex: 1;
}

.container-footer-left > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-footer-right {
  background-color: var(--primary-light-blue);
  flex: 2;
  display: flex;
}

.container-footer-right > div {
  flex: 1;
  padding: 20px;
}
.container-footer-right > div:first-child {
  align-self: center;
  justify-self: center;
}

.container-footer-right > div:last-child {
  display: flex;
  flex-direction: column;
}

.container-footer-right > div:last-child > a {
  padding: 20px;
  margin: 20px;
}

.container-footer-right > div:last-child > p:first-child {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

.container-footer-right > div:last-child > h3 + p {
  font-family: Arial, Helvetica, sans-serif;
}

.container-footer-right > div:last-child > h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  letter-spacing: 0;
  font-weight: 300;
  line-height: 1.1;
  text-align: left;
  margin-bottom: 10px;
}

.container-footer-right > div:last-child > div {
  padding-top: 15px;
}

.container-footer-right > div:last-child > div a {
  color: var(--primary-black);
}

/* ********************* */
/* LET'S DO THIS SECTION */
/* ********************* */
.lets-do-this {
  width: 100%;
  background-color: var(--primary-yellow);
  color: var(--primary-black);
  z-index: 200;
}

.lets-do-this .container {
  padding: 80px 200px 100px 200px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.lets-do-this .container > h1 {
  font-size: 68px;
  letter-spacing: -1px;
  line-height: 1;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 300;
  margin: 25px;
}

.lets-do-this .container > div:first-child {
  font-weight: 300;
  line-height: 1.4;
  margin-top: 30px;
  width: 50%;
}

.lets-do-this .container > div > p {
  padding-bottom: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 22px;
}

.lets-do-this .container > div:last-child {
  padding: 20px 40px;
  font-size: 15px;
  font-weight: 600;
}

/* ******************** */
/* ABOUT US SECTION     */
/* ******************** */
.about-us {
  width: 100%;
  background-color: var(--primary-ash);
  z-index: 200;
}

.about-us .container {
  padding: 100px 120px 100px 120px;
  justify-content: space-between;
  align-items: center;
}

.container-products-column {
  display: flex;
  flex: 3.5;
  justify-content: space-around;
}

.information-column {
  margin: 0 15px;
}

.information-column span {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 50px;
}

.information-column > ul {
  list-style: none;
  line-height: 20px;
  font-size: 12px;
}

.information-column > ul a {
  color: var(--primary-black);
  font-size: 13px;
  line-height: 32px;
  border-bottom: 1px solid transparent;
  border-bottom-width: 50%;
}

.information-column > ul a:hover,
.ds__Copyright .copyright a:hover,
.container-presentation-column div div:last-child a:hover {
  border-bottom: 1px solid black;
}

.container-presentation-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.container-presentation-column > * {
  margin: 25px auto;
  width: 180px;
}

.container-presentation-column div p {
  font-size: 12px;
  color: var(--primary-black);
  padding: 25px auto;
  margin: 5px auto;
  line-height: 1.5;
}
.container-presentation-column > div:first-child {
  padding-bottom: 30px;
}

.container-presentation-column div div:first-child a {
  color: var(--primary-blue);
  font-weight: 300;
}

.container-presentation-column div div:last-child {
  padding-top: 10px;
}

.container-presentation-column div div:last-child a {
  color: var(--primary-black);
  font-size: 13px;
}

/* ***************************** */
/* DOWNLOADS AND SOCIALS SECTION */
/* ***************************** */
.downloads-and-social {
  width: 100%;
  background-color: var(--primary-ash);
  z-index: 200;
}

.downloads-and-social .container {
  padding: 80px 160px 100px 160px;
  border-top: 1px solid var(--primary-grey);
  /* height: 250px; */
}

.downloads-and-social a {
  color: var(--primary-blue);
}

.ds__Socials,
.ds__Copyright,
.ds__Downloads {
  flex: 1;
  margin-left: 15px;
  margin-right: 15px;
}

.ds__Downloads {
  display: flex;
  text-align: center;
}

.ds__Downloads a {
  margin: 25px;
}

.ds__Downloads a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ds__Socials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap !important;
  box-sizing: border-box;
  justify-content: space-evenly;
  align-items: flex-start;
  line-height: 1.35;
  padding: 0;
  margin: 0;
}

.ds__Socials a {
  display: inline;
  flex: 1.5;
  margin: 10px;
}

.ds__Socials img {
  width: 100%;
  height: 100%;
  position: relative;
  top: 50%;
  left: 0;
  right: 0;
  object-fit: cover;
}

.ds__Copyright .btn {
  border-color: var(--primary-grey);
  padding-right: 55px;
  margin-left: 0;
}

.ds__Copyright .btn:hover {
  background-color: var(--primary-dark-ash);
}

.ds__Copyright .btn a {
  color: var(--primary-black);
  font-weight: 300;
  font-size: 14px;
}

.ds__Copyright .copyright {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--primary-grey);
  font-size: 10.5px;
  padding-top: 30px;
  padding-right: 35px;
}

.ds__Copyright .copyright a {
  font-weight: 600;
  color: black;
}

/* ********************************************************* */
/* MEDIA QUERIES FOR MOBILE RESPONIVENESS                    */
/* ********************************************************* */
@media (max-width: 1099px) {
  /* ******************* */
  /* RESPONSIVE NAVBAR   */
  /* ******************* */
  .navbar-links,
  #nav-sign-up {
    display: none;
  }

  .navbar-brand {
    flex: 1;
  }

  #nav-login {
    margin: auto 0;
  }

  .nav-btn {
    display: block;
  }

  .nav-btn > button {
    cursor: pointer;
    height: 40px;
    width: 40px;
    border: 1px solid var(--primary-grey);
  }

  /* **************** */
  /* HERO SECTION     */
  /* **************** */
  .hero-section .container {
    flex-direction: column;
    padding-left: 15%;
    padding-right: 15%;
  }

  #hero-info-title,
  #hero-info-comment {
    margin: 15px auto;
    text-align: left;
  }

  .hero-logo {
    display: none;
  }

  /* *********************** */
  /* DO IT ALL SECTION       */
  /* *********************** */
  .do-it-all {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 68px;
    padding-bottom: 5%;
  }

  .do-it-all > span:first-child {
    font-size: 3.125rem;
  }

  /* ************************** */
  /* YOUR BUSINESS SECTION      */
  /* ************************** */
  .your-business {
    padding-left: 15%;
    padding-right: 15%;
  }

  .your-business .container {
    padding: 10px;
  }

  .your-business .container > * {
    margin: 15px 7.5px;
  }

  .your-business #section1 > a {
    margin-top: 7%;
    margin-bottom: 10px;
  }

  .your-business #section2 {
    display: none;
  }

  /* *************************** */
  /* WE'LL HELP YOU SECTION      */
  /* *************************** */
  .help-you .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  /* *************************** */
  /* GROW WITH MAILCHIMP SECTION */
  /* *************************** */
}

@media (max-width: 768px) {
  /* *************************** */
  /* GROW WITH MAILCHIMP SECTION */
  /* *************************** */
  .grow-title {
    font-size: 50px;
  }
}

@media (max-width: 600px) {
  /* ********************** */
  /* HERO SECTION           */
  /* ********************** */
  .hero-section .container {
    padding-left: 5%;
    padding-right: 5%;
  }

  /* *********************** */
  /* DO IT ALL SECTION       */
  /* *********************** */
  .do-it-all {
    padding-top: 35px;
    padding-left: 5%;
    padding-right: 5%;
  }

  .do-it-all > span:first-child {
    font-size: 40px;
  }

  /* ************************** */
  /* YOUR BUSINESS SECTION      */
  /* ************************** */
  .your-business {
    padding-left: 5%;
    padding-right: 5%;
  }

  /* *************************** */
  /* WE'LL HELP YOU SECTION      */
  /* *************************** */
  .help-you .heading {
    font-size: 40px;
  }

  .help-context {
    flex-direction: column;
  }

  .help-context-right > * {
    text-align: left;
    margin-left: 0;
    padding-left: 0;
  }

  /* *************************** */
  /* GROW WITH MAILCHIMP SECTION */
  /* *************************** */
  .grow-with {
    padding-left: 5%;
    padding-right: 5%;
    /* padding-top: 40px; */
  }

  .grow-title {
    font-size: 2.5rem;
    letter-spacing: -0.03125rem;
    line-height: 1;
    margin-bottom: 1.25rem;
    font-weight: 300;
  }

  .grow-description {
    font-size: 18px;
  }

  .grow-brands {
    flex-direction: column;
    justify-content: space-between;
  }

  .brand-item {
    margin-bottom: 30px;
    width: 100%;
  }
}
