:root {
  --primary-yellow: #ffe01b;
  --primary-white: #fff;
  --primary-blue: #007c89;
  --primary-black: #241c15;
  --primary-grey: #403b3b;
  --primary-ash: #f6f6f4;
  --primary-squash: #fbeeca;
  --primary-pink: #fdece5;
  --primary-light-blue: #e8f1fa;
}

a {
  text-decoration: none;
  color: var(--primary-white);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  box-sizing: border-box;
  display: flex;
  max-width: 100em;
  width: 100%;
  margin: 0 auto;
}

.btn {
  border: none;
  padding: 10px 15px;
  margin: 10px;
  cursor: pointer;
  background-color: var(--primary-blue);
  color: var(--primary-white);
}

.btn-light {
  color: var(--primary-blue);
  background-color: var(--primary-white);
  border: 1px solid var(--primary-blue);
}
