:root {
  --primary-yellow: #ffe01b;
  --primary-white: #fff;
  --primary-blue: #007c89;
  --primary-black: #241c15;
  --primary-grey: #403b3b;
  --primary-ash: #f6f6f4;
  --primary-squash: #fbeeca;
}

.container {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  max-width: 100em;
  margin: 0 auto;
}

.btn {
  border: none;
  padding: 10px 15px;
  margin: 10px;
  cursor: pointer;
  background-color: var(--primary-blue);
  color: var(--primary-white);
}
